// Theme Settings
$primary-color: #50449E;

// Parent and Child Shadow
$shadow: 0px 5px 10px rgba($color: #333, $alpha: 0.3);
$container-width: calc(100% - 100%/12*4);

/* Font Familly */
/* Inter Font Familly */
@font-face {
    font-family: 'Inter-light';
    src: url(../webfonts/Inter-300.ttf);
}
@font-face {
    font-family: 'Inter-regular';
    src: url(../webfonts/Inter-regular.ttf);
}
@font-face {
    font-family: 'Inter-medium';
    src: url(../webfonts/Inter-500.ttf);
}
@font-face {
    font-family: 'Inter-bold';
    src: url(../webfonts/Inter-600.ttf);
}
/* Source Code Pro Font Familly */
@font-face {
    font-family: 'SourceCodePro-regular';
    src: url(../webfonts/SourceCodePro/SourceCodePro-regular.ttf);
}
@font-face {
    font-family:'SourceCodePro-medium';
    src: url(../webfonts/SourceCodePro/SourceCodePro-500.ttf);
}
@font-face {
    font-family: 'SourceCodePro-bold';
    src: url(../webfonts/SourceCodePro/SourceCodePro-600.ttf);
}


/*Font Icons ~ Fontawesome*/
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

/* Text Sizes */
.text-small{
    font-size: 13px;
}
.text-regular{
    font-size: 16px;
}
.text-medium{
    font-size: 24px;
    line-height: 1.3;
}
.text-large{
    font-size: 32px;
    line-height: 1.2;
}
.text-xlarge{
    font-size: 64px;
    line-height: 1.1;
}

// Margins
$spaceUnits: (1, 2, 3, 4, 5);

@each $spacing in $spaceUnits {
    .m-#{$spacing}{
        margin: #{$spacing}rem;
    }
    .my-#{$spacing}{
        margin: #{$spacing}rem 0;
    }
    .mt-#{$spacing}{
        margin-top: #{$spacing}rem;
    }
    .mr-#{$spacing}{
        margin-right: #{$spacing}rem;
    }
    .mb-#{$spacing}{
        margin-bottom: #{$spacing}rem;
    }
    .ml-#{$spacing}{
        margin-left: #{$spacing}rem;
    }
    .p-#{$spacing}{
        padding: #{$spacing}rem;
    }
    .py-#{$spacing}{
        padding: #{$spacing}rem;
    }
    .px-#{$spacing}{
        padding: 0 #{$spacing}rem;
    }
}

/* Media Queries */
@media (max-width: 415px) {
    .header-contain {
        .header-content {
        grid-template-columns: 1fr;
            .form-content {
                // background-color: #333;
                width: 250px;
                justify-self: center;
            }
        }
    }
    .cli-container{
        .cli-cmd {
            grid-template-columns: 1fr;
            justify-items: center;
            img {
                width: 260px;
            }
        }
    }
}

/* Extra small devices mobile */
@media (max-width: 578px) {
    .header-nav {
        // background-color: #333;
        flex-direction: column;
        ul {
            margin-top: 1rem;
        }
    }
    .header-contain {
        .header-content {
        grid-template-columns: 1fr;
            .form-content {
                // background-color: #333;
                // width: 250px;
                justify-self: center;
            }
        }
    }
    .stats-icon {
        // background-color: #333;
        flex-direction: column;
        .icon-flex {
            margin-bottom: 1.4rem;
        }
    }
    .cli-container{
        .cli-cmd {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
    .cloud-container{
        .cloud-hosting {
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;

            img {
                width: 260px;
            }
        }
    }
    .languages {
        .lang-content {
            .lang-card-container {
                .lang-card {
                    grid-template-columns: repeat(2, 1fr);

                    & > .lang-item{
                        transition: transform .2s ease-in;
                    }
                    & > .lang-item:hover{
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
    .container-footer-content {
        .footer-container {
            // background-color: #fff;
            grid-template-columns: 1fr;
            justify-items: start;
        }
    }
    
}

/* Small devices tablet*/
@media (min-width: 578px) {
    .header-nav {
        // background-color: #333;
        flex-direction: column;
        ul {
            margin-top: 1rem;
        }
    }
    .header-contain {
        .header-content {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        }
    }
    .stats-icon {
        // background-color: #333;
        flex-direction: column;
        .icon-flex {
            margin-bottom: 1.4rem;
        }
    }
    .cli-container{
        .cli-cmd {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
    .cloud-container{
        .cloud-hosting {
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;
        }
    }
    .languages {
        .lang-content {
            .lang-card-container {
                .lang-card {
                    grid-template-columns: repeat(2, 1fr);

                    & > .lang-item{
                        transition: transform .2s ease-in;
                    }
                    & > .lang-item:hover{
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
    .container-footer-content {
        .footer-container {
            // background-color: #fff;
            grid-template-columns: repeat(3, 1fr);
            // justify-items: start;
        }
    }
}

/* Medium devices tablet and laptop*/
@media (min-width: 768px) {
    header{
        height: 416px;
    }
    .header-nav {
        // background-color: #333;
        flex-direction: row;
    }
    .header-contain {
        .header-content {
        grid-template-columns: 1fr 1fr;
        }
    }
    .stats-icon {
        // background-color: #333;
        flex-direction: row;
        .icon-flex {
            margin-bottom: 1.4rem;
        }
    }
    .cli-container{
        .cli-cmd {
            grid-template-columns: 2fr 1fr;
        }
    }
    .cloud-container{
        .cloud-hosting {
            grid-template-columns: 2fr 1fr;
            align-items: center;
            justify-items: center;
        }
    }

    .languages {
        .lang-content {
            .lang-card-container {
                .lang-card {
                    grid-template-columns: repeat(6, 1fr);

                    & > .lang-item{
                        transition: transform .2s ease-in;
                    }
                    & > .lang-item:hover{
                        transform: translateY(10px);
                    }
                }
            }
        }
    }
    .container-footer-content {
        .footer-container {
            // background-color: #fff;
            grid-template-columns: repeat(3, 1fr);
            // justify-items: start;
        }
    }
}

/* Large devices laptop */
@media (min-width: 992px) {}

/*Extra large devices */
@media (min-width: 1200px) {}