/* import partials */
@import 'init';
@import 'components';
@import 'grid';
@import 'footer';

/* root settings */
:root {
    --white: #fdfdfd;
    --black: #111111;
}
html {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Inter-regular';
    
}
::selection{
    color: var(--white);
    background: #333;
}
body{
    background-color: var(--white);
    line-height: 1.5;
    font-size: 1rem;
    // overflow-x: hidden;
    color: var(--black);
}

main{
    width: calc(100% - 100%/12*4);
    margin: 0 auto;
    // background-color: #a0a0a0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'SourceCodePro-bold';
}
hr{
    border:1px solid #b8b8b8;
    width: 100%;
    margin: 2rem 0;
}
a{
    text-decoration: none;
    color: var(--black);
}
ul{
    list-style-type: none;
}

header{
    width: 100%;
    height: auto;
    background-color: $primary-color;
    color: white;
    // clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);
}
.header-container{
    max-width: calc(100% - 100%/12*4);
    margin: 0 auto;
}
.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        ul{
            display: flex;
            align-items: center;
            & > li:nth-child(1), li:nth-child(2) {
                margin-right: 1rem;
            }
            a{
                color: white;
                padding: 5px 0;
            }
        }
    }  
    nav a:hover {
        border-bottom: 2px solid #fbfbfb;
        transition: 1s;
        transition-timing-function: ease-in-out;
    }
}
.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 100px;
    width: 100%;
    
    .headlines{
        padding: 0 15px;
        text-align: center;
        align-self: center;
    }
    .form-content{
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba($color: #333, $alpha: 0.2);
        
        color: var(--black);
        padding: 1.2rem;
        width: 356px;

        .all-form-input{
            .form-input{
                margin-bottom: 15px;
                input{
                    padding: 0.6rem;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #a0a0a0;
                }
                & input:focus{
                    outline: none;
                }
            }
        }
    }
}

.stats{
    width: 100%;
    padding: 3rem calc(100%/12*2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // background-color: #cecece;   

    .stats-icon{
        width: 100%;
        margin-top: 2.5rem;
        // background-color: #333;
        display: flex;
        justify-content: space-around;

        & > div{
            text-align: center;
        }
        .icon-text{
            margin-top: 4px;
            font-size: 18px;
        }
    }
}

.cli-cmd{
    width: 100%;
    padding: 0 calc(100%/12*2);
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
        img {
            width: 350px;
        }
        &  .clip-info{
            align-content: center;
            justify-self: center;
        }
        .cli-info p {
            padding: 8px 15px;
            background-color: #ffffff;
            margin: 1rem 0;
            text-align: center;
            // align-self: center;
            border-radius: 0.5rem;
            box-shadow: 0px 5px 10px rgba($color: #333, $alpha: 0.3);
        }
}

.cloud-hosting{
    background-color: $primary-color;
    color: #ffffff;
    display: grid;  
    grid-template-columns: 2fr 1fr;
    padding: 25px calc(100%/12*2);
    align-items: center;
    justify-items: center;

    .cloud-heading{
        text-align: center;
    }
    img {
        width: 300px;
    }
}

.languages{
    width: 100%;
    margin: 3rem 0;
    padding: 0 calc(100%/12*2);
    .lang-content {
        p {
            text-align: center;
            margin: 1rem 0;
        }
        .lang-card{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: .5rem;
            // background-color: #e6e6e6;
            justify-items: center;
            align-items: center;
            text-align: center;
            
            & > .lang-item{
                // background-color: #333;
                width: 100%;
                padding: .7rem 0.3rem;
                box-shadow: $shadow;
                border-radius: 1rem;
                transition: transform .2s ease-in;
            }
            & > .lang-item:hover{
                transform: translateY(10px);
            }
        }
    }
}

/* Features Page Content */
.header-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: end;
    padding: 0 calc(100%/12*2);
    flex-wrap: wrap;
    margin-top: 2rem;

    img {
        width: 150px;
    }
}

.subtitle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    img {
        width: 280px;
    }
}

.base-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;

    & > .base-item:first-child {
        grid-area: 1 / 1 / 1 / 4;
    }
    & > .base-item:nth-child(2) {
        grid-area: 2 / 1 / 2 / 3;
    }

    .base-item {
        display: flex;
        align-items: center;
        padding: 1.3rem;
        box-shadow: $shadow;
        border-radius: 10px;
        transition: transform .1s ease-in;

        i {
            margin-right: 1rem;
            font-size: 48px;
        }
        // background-color: #b8b8b8;
        &:hover {
            transform: scale(1.01);
        }
    }
}

/* Docs Page Styling */
.docs-container {
    margin: 6rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    // background-color: #a0a0a0;
    gap: 1.5rem;

    & > div {
        box-shadow: $shadow;
        border-radius: 10px;
        padding: 1.5rem;
    }
    & > div:first-child {
        grid-area: 1 / 1 / 2 / 1;    
    }
    & > div:nth-child(2) {
        grid-area: 1 / 2 / 3 / 2;
        // background-color: #333;

        & > p:nth-child(3){
            background-color: #4daf4d;
            padding: .5rem;
            color: #ffffff;
            // margin: 0.6rem 0;
        }
    }
}